# Node
node_modules/
dist/
build/

# Ambiente
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema
.DS_Store
Thumbs.db

# Yarn
.pnp.*
.yarn/

# Outros
*.local
.cache/
